.customizer-container {
    position: absolute;
    top: 52px;
    bottom: 0;
    left: 0;
    right: 0;
}

@media all and (max-width: 1250px) {
    app-chat-form{
        left: 250px;
    }
    app-feed{
        left: 250px;
    }
}