.mainContent{
    display: flex;
    height: calc(100vh - 6.250em);
}

.userListWrapper {
    background-color: rgb(45, 72, 107);
    color: #fff;
    display: flex;
    font-family: "Open Sans", sans-serif;
    font-size: 1.200em;
    flex: 1;
    order: 1;
    padding: 1.250em 0.000em 2.500em 1.875em;
    border-right: 1px solid #222;
    overflow: auto;
    overflow-x: hidden;
}

.feedWrapper {
    background-color: #fff;
    background: 
        linear-gradient(181deg, rgba(40, 180, 255, 0.6), rgba(1, 15, 78, 0.9)),
        url('../../../assets/images/Solid_Pattern.png') center center no-repeat;
    font-family: "Open Sans", sans-serif;
    font-size: 1.200em;
    flex: 5;
    order: 2;
    overflow-y: auto;
    padding: 1.250em 0.000em 0.000em 1.500em;
}

.chatFormWrapper {
    height: 3.125em;
    background-color: rgb(20, 96, 236);
    overflow: hidden;
    position: sticky;
}

#scroll-style::-webkit-scrollbar-track{
	border-radius: 0.625em;
	background-color: #F5F5F5;
}

app-user-list {
    width: 100%;
}