.chat-container {
  position: absolute;
  top: 52px;
  bottom: 0;
  left: 0;
  right: 0;
}

.chat-sidenav {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 20%;
  min-width: 250px;
  background: rgb(36, 41, 46);
  overflow: hidden;
}

mat-sidenav-content {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  justify-content: space-between;
}

app-feed {
  order: 1;
  flex-grow: 1;
  overflow: auto;
  background: rgb(238, 238, 238);
}

app-chat-form {
  order: 2;
}

@media all and (max-width: 1250px) {
  app-chat-form{
      left: 250px;
  }
  app-feed{
    left: 250px;
  }
}

.participants-box{
  color: white; 
  background: #3f51b5;
  border-radius: 0;
}