<div class="about-container">
    <h1>
        About DE-CHAT
    </h1>
    <p>
        DE-CHAT is a completely decentralized web-application built using
        Solid data interchange technology in order to give users complete
        control over the data that they send.
        <br/>
        <br/>
        Solid is a technology invented by Tim Berners-Lee, the creator of
        the modern internet, that gives users complete control of how their
        data is exchanged. With DE-CHAT, data that you send is completely owned
        and controlled by you, with no central entity being able to view it
        during or after the sending process. In a traditional messaging application, data
        that you send typically passes through a central entity for processing,
        which makes your data vulnerable for others to interfere with. Without
        this central entity, your data is safe and maintained by you and you alone.
        <br/>
        <br/>
        Using DE-CHAT is simple, but if you would like a full tutorial of the
        components, you can view the following tutorial that includes step by step
        usability instructions for your complete understanding.
    </p>
    <video width="864" height="480" controls>
        <source src="assets/videos/dechat-tutorial.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
</div>