.registration {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.registration .header-bar {
  margin: 0.000em;
  height: 2.750em;
  width: calc(100% + 1.000em);
  background-color: #3D6DEB;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
}

.registration .header-bar p {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 0.875em;
  letter-spacing: 0.063em;
  line-height: 0.938em;
}

.registration .header-text {
  margin-top: 5.750em;
  width: 22.500em;
  margin-left: auto;
  margin-right: auto;
  font-size: 0.875em;
  color: #666;
}

.registration .header-text a {
  color: #666;
  font-size: 0.750em;
}

.registration .provider-card-container {
  margin-top: 1.750em;
}

.registration .provider-card {
  height: 8.750em;
  width: 21.875em;
  border: 0.063em solid #DAE0E6;
  border-radius: 0.125em;
  background-color: #fff;
  margin: 0.625em;
  display: inline-block;
  box-shadow: #DAE0E6 0.063em 0.063em 0.375em;
}

.registration .provider-card a {
  text-decoration: none;
}

.registration .provider-card .provider-logo {
  height: 2.750em;
  width: 2.750em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.000em;
}

.registration .provider-card h2 {
  color: #656E75;
  font-size: 1.125em;
  margin-top: -0.125em;
  letter-spacing: 0.056em;
  line-height: 1.500em;
}
.registration .provider-card p {
  color: #656E75;
  font-size: 0.750em;
  line-height: 1.000em;
}
