<div class="topnav">
  <div class="topnav">
    <div class="logo">DE-CHAT</div>
    <a class="menu-item" [routerLink]="['/chat']">
        <i class="far fa-comment"></i>
    </a>
    <!--
      <a class="menu-item" [routerLink]="['/settings']">
        <div>
          <i class="fas fa-sliders-h"></i>
        </div>
      </a>
      -->
    <a class="menu-item" [routerLink]="['/profile']">
      <i class="fas fa-user"></i>
    </a>
    <a class="menu-item" [routerLink]="['/permissions']">
      <i class="fas fa-lock"></i>
    </a>
    <a class="menu-item profile-menu" (click)="logout()">
      <i class="fas fa-sign-out-alt"></i>
    </a>
  </div>
</div>