.topnav {
    width: 100%;
    background-color: rgb(20, 96, 236);
    height: 3.125em;
    color: #fff;
    overflow: hidden;
  }

  .topnav a {
    text-decoration: none;
    color: inherit;
    height: 100%;
  }

  .topnav a:hover {
    background-color: rgba(0,0,0,0.25);
  }

  .topnav a:active {
    background-color: rgba(0,0,0,0.25);
  }

  .topnav a:focus {
    background-color: rgba(0,0,0,0.25);
  }

  .topnav .logo {
    display: inline-block;
    font-family: 'Roboto Slab', serif;
    font-size: 1.750em;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 100%;
    padding-right: 5.000em;
    position: relative;
    top: 0.000em;
    left: 1.750em;
  }
  
  .topnav .menu-item {
    display: inline-block;
    width: 6.250em;
    margin: auto;
    text-align: center;

  }
  
  .topnav .menu-item i {
    font-size: 2em;
    margin-top: 0.25em;
  }
  
  .topnav .profile-menu {
    float: right;
  }