

.topnav {
    width: 100%;
    background-color: rgb(20, 96, 236);
    height: 50px;
    color: #fff;
  }

  .topnav a {
    text-decoration: none;
    color: inherit;
  }

  .topnav a:hover {
    background-color: rgba(0,0,0,0.25);
  }

  .topnav a:active {
    background-color: rgba(0,0,0,0.5);
    box-shadow: inset 0px 0px 15px 6px rgba(0,0,0,0.25);
  }

  .topnav a:focus {
    background-color: rgba(0,0,0,0.25);
  }

  .topnav .logo {
    display: inline-block;
    font-family: 'Roboto Slab', serif;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 32px;
    padding-right: 80px;
    position: relative;
    top: 0px;
    left: 28px;
  }
  
  .topnav .menu-item {
    display: inline-block;
    font-size: 10px;
    line-height: 13px;
    width: 100px;
    height: 100%;
    text-align: center;
  }
  
  .topnav .menu-item i {
    font-size: 24px;
    margin-top:12px;
    margin-bottom: 2px;
  }
  
  .topnav .profile-menu {
    float: right;
  }
  
  .topnav .profile-menu img {
    display: block;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin: 0 auto;
    margin-top:10px;
    cursor: pointer;
  }
  
  .loading-image {
    text-align: center;
    margin-top: 50px;
  }