.messageData{
    flex: 1;
    padding: 0.625em;
    font-size: 0.7em;
}

.sender{
    display: block;
    color: #222;
    font-weight: bold;
    font-size: 1.3em;
}

.isOwnSender{
    color: white;
}

.timestamp {
    font-style: italic;
    font-size: 1.2em;
}

.isOwnTimestamp{
  color: white;
}

.messageContent{
    white-space: -moz-pre-wrap; /* Mozilla */
    white-space: -hp-pre-wrap; /* HP printers */
    white-space: -o-pre-wrap; /* Opera 7 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: pre-wrap; /* CSS 2.1 */
    white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
    word-wrap: break-word; /* IE */
    word-break: break-all;
    height: auto;
    flex: 2;
    padding: 0.625em;
    font-size: 1.3em;
}

.isOwnMessageContent{
    color: white;
}

.messageDelete {
    flex: 3;
    border-top-right-radius: 0.313em;
    border-bottom-right-radius: 0.313em;
    font-size: 1.3em;
}

.deleteButton {
    border: none;
    border-top-right-radius: 0.313em;
}

.imgDelete {
    width: 2.000em;
    height: 2.000em;
    margin-top: 0.500em;
}

.messageContainer{
    display: flex;
    height: auto;
    width: 70%;
    min-width: 25.000em;
    border-radius: 0.313em;
    align-items: stretch;
    background-color: #aee571;
    margin: 10px;
}

.isOwnMessageContainer{
    background-color: #6f74dd;
    float: right;
}

.example-card {
    max-width: 50%;
    margin: 10px;
  }
  
  .example-header-image {
    background-size: cover;
  }