.messageContainer{
    display: flex;
    height: auto;
    width: 70%;
    min-width: 25.000em;
    border-radius: 0.313em;
    align-items:stretch;
    background-color: #eee;
    box-shadow: 0 0.188em 0.375em rgba(0,0,0,0.26), 0 0.188em 0.375em rgba(0,0,0,0.23);
}

.isOwnMessageContainer{
    background-color: #01579B;
    float: right;
    margin-right: 0.625em;
}

.messageData{
    flex: 1;
    padding: 0.625em;
    font-size: 0.7em;
}

.sender{
    display: block;
    color: #222;
    font-weight: bold;
}

.isOwnSender{
    color: #E1F5FE;
}

.timestamp {
    color: #555;
    font-style: italic;
}

.isOwnTimestamp{
    color: #4FC3F7;
}

.messageContent{
    height: auto;
    flex: 9;
    background-color: #fff;
    padding: 0.625em;
}

.isOwnMessageContent{
    background-color: #E3F2FD;
    color: #01579B;
}

.messageDelete {
    background-color: #01579B;
    border-top-right-radius: 0.313em;
    border-bottom-right-radius: 0.313em;
}

.deleteButton {
    background-color: #01579B;
    border: none;
    border-top-right-radius: 0.313em;
}

.imgDelete {
    width: 2.000em;
    height: 2.000em;
    margin-top: 0.500em;
}