section{
    background-color: rgb(253, 253, 253);
    color: rgb(20, 96, 236);
    font-family: "Open Sans", sans-serif;
    font-size: 1.200em;
    padding: 1.250em 0.000em 2.500em 1.875em;
}

h1{
    color: #666;
    font-size: 1em;
    font-weight: 500;
    line-height: 1.em;
    margin-bottom: 2em;
    margin-right: 0.75em;
}

h2{

}

div{
    color: #666;
    font-size: 1em;
    font-weight: 500;
}

button{
    background-color: rgb(20, 96, 236);
    color: #fff;
    padding: 0.625em;
    width: 131px;
    margin: 0.625em 0.000em 0.000em 10.700em;
}