section{
    background-color: #2A2845;
    color: #fff;
   
    font-family: "Open Sans", sans-serif;
    font-size: 1.2em;
    padding:20px 0px 40px 30px;
    
}

h2{
    padding: 10px;
    margin:10px;
}

div{
    margin:20px;
}
button{
    padding: 10px;
    margin: 10px 0px 0px 120px;

}