<div class="topnav">
    <div class="topnav">
      <div class="logo">DE-CHAT</div>
      <a class="menu-item" [routerLink]="['/chat']">
        <div>
          <i class="far fa-comment"></i>
        </div>
      </a>
      <a class="menu-item" [routerLink]="['/settings']">
        <div>
          <i class="fas fa-sliders-h"></i>
        </div>
      </a>
      <a class="menu-item" [routerLink]="['/card']">
        <div>
          <i class="fas fa-user"></i>
        </div>
      </a>
      <a class="menu-item profile-menu" (click)="logout()">
        <div>
            <i class="fas fa-sign-out-alt"></i>
        </div>
      </a>
    </div>
</div>
