.form-container {
  display: flex;
  flex-direction: row;
  align-content: flex-end;
  justify-content: space-between;
  background: #3f51b5;
}

.full-width {
  flex-grow: 1;
  padding: 0 10px;
  align-self: center;
}

.chatInput {
  width: 100%;
  margin: 10px;
  color: white;
}

::placeholder {
  color: white;
}

.chatButton {
  margin: 10px;
  align-self: center;
  background-color: royalblue;
  color: white;
  font-weight: bold;
  font-size: 1.35em;
  width: 5em;
}

