.chatInput{
    width: 80%;
    border-radius: 0.313em;
    margin: 0.313em;
    padding: 0.313em;
    font-size: 1.300em;
    font-family: 'Open Sans', sans-serif;
    background-color: #eee;
    color: #000;
    transition: 0.1s ease-out;
}

.chatInput:focus{
    background-color: #E4F1FE;
    color: #222;
    transition: 0.2s ease-in;
}

.chatButton{
    min-width: 6.875em;
    width: 15%;
    border-radius: 0.313em;
    margin: 0.000em;
    padding: 0.625em;
    padding: 0.500em 1.500em;
    font-size: 1.300em;
    font-family: 'Droid Sans', sans-serif;
    background-color: #2A2845;
    color: white;
    transition: 0.2s ease-out;
    min-width: 3.125em;
}

.chatButton:hover{
    background-color: #444;
}