.chatInput{
    width: 81%;
    border-radius: 0.313em;
    position: relative;
    top: 10%;
    left: 2%;
    margin: 0.100em;
    padding: 0.100em;
    font-size: 1.300em;
    font-family: 'Open Sans', sans-serif;
    background-color: #eee;
    color: #000;
    transition: 0.1s ease-out;
}

.chatInput:focus{
    background-color: #E4F1FE;
    color: #222;
    transition: 0.2s ease-in;
}

.chatButton{
    position: relative;
    right: 2%; 
    left: 3%;
    top: 10%; 
    min-width: 6.875em;
    width: 12%;
    border-radius: 0.313em;
    margin: 0.000em;
    padding: 0.325em;
    padding: 0.300em 1.300em;
    font-size: 1.300em;
    font-family: 'Droid Sans', sans-serif;
    background-color: rgb(13, 6, 104);
    color: white;
    transition: 0.2s ease-out;
    min-width: 3.125em;
}

.chatButton:hover{
    background-color: #444;
}

.divForm{
    position: sticky;
    width: 100%;
    top: 10%;
    padding: 0.325em;
    padding: 0.300em 1.300em;
}