.userItem{
    height: auto;
    padding: 0.625em;
    width: 90%;
    margin-top: 0.625em;
    border-radius: 0.063em;
    align-items: flex-start;
    background-color: #4171a5;
    box-shadow: 0 0.188em 0.375em rgba(0,0,0,0.16), 0 0.188em 0.375em rgba(0,0,0,0.23);
    color: #A098A5;
    border-radius: 0.500em;
    transition: ease-in 0.2s;
}

.userItem:hover{
    background-color: #2c3a68;
    color: #ddd;
    transition: ease-in 0.1s;
}

.online{
    background-color: #0FA;
}

.busy{
    background-color: #FB0;
}

.offline{
    background-color: #888;
}

.status{
    border: 0.063em solid black;
    display: inline-block;
    min-width: 0.625em;
    min-height: 0.625em;
    border-radius: 50%;
    margin: 0.625em 0.750em 0.000em 0.625em;
}

.userName{
    display: contents;
}

.userItemCurrent{
    height: auto;
    padding: 0.625em;
    width: 100%;
    margin-top: 0.625em;
    border-radius: 0.063em;
    align-items:flex-start;
    box-shadow: 0 0.188em 0.375em rgba(0,0,0,0.16), 0 0.188em 0.375em rgba(0,0,0,0.23);
    border-radius: 0.500em;
    transition: ease-in 0.2s;
    background-color: #1f2f8a;
    color: #ddd;
}