<h1 mat-dialog-title>Crear nuevo Chat</h1>
<div mat-dialog-content style="overflow: visible">
  <mat-form-field style="width: 100%">
    <input matInput placeholder="Como se va a llamar el chat?" [(ngModel)]="data.chatName">
  </mat-form-field>
  <angular2-multiselect style="width: 95.9%" [data]="data.items" [(ngModel)]="data.selectedItems" 
    [settings]="dropdownSettings" 
    (onSelect)="onItemSelect($event)" 
    (onDeSelect)="OnItemDeSelect($event)"
    (onSelectAll)="onSelectAll($event)"
    (onDeSelectAll)="onDeSelectAll($event)"></angular2-multiselect>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
</div>