
.login-page {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #666;
  margin: auto;
  margin-top: 4.500em;
  right: 0;
  bottom: 3.250em;
  left: 0;
  width: 31.250em;
  height: 31.250em;
  position: sticky;
}

.login-page img {
  max-width: 100%;
  height: auto;
}

.login-page h1 {
  font-family: 'Roboto Slab', serif;
  color: rgb(20, 96, 236);
  font-size: 4em;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 3.125em;
  letter-spacing: 0.119em;
  padding-top: 0.0em;
  margin-top: 0.000em;
  position: sticky;
}

.login-page h2 {
  color: #666;
  font-size: 1.000em;
  font-weight: 500;
  letter-spacing: 0.063em;
  line-height: 1.313em;
  margin-top: 3.000em;
  position: sticky;
}

.login-page h3 {
  color: #666;
  font-size: 1.250em;
  font-weight: 500;
  max-width: 100%;
  letter-spacing: 0.063em;
  line-height: 1.313em;
  margin-top: -3.5em;
  position: sticky;
}

.login-page .small-link {
  font-size: 0.750em;
  color: #666;
  letter-spacing: 0.75px;
  line-height: 1.000em;
  position: sticky;
}

.login-page .registration-link {
  margin-top: 2em;
  position: sticky;
}

.login-page .registration-link p {
  font-size: 1.000em;
  color: #666;
  letter-spacing: 0.063em;
  position: sticky;
}

.login-page .item-divider {
  box-sizing:border-box;
  height: 0.063em;
  width: 22.125em;
  position: sticky;
  bottom: -0.500em; left: -0.563em;
}

.full-width {
  width: 100%;
  flex-grow: 1;
  padding: 0 10px;
  align-self: center;
}