<div class="login-page">

  <!-- APP LOGO -->
  <div style="margin-top:0.000em;">
    <img class="app-logo" src="assets/images/Dechat.png">
  </div>

  <!-- APP NAME -->
  <h1>
    De-Chat
  </h1>

  <!-- LOGIN DESCRIPTION -->
  <h3 i18n="Login description@@LoginDescription">
    Take complete control of your data with DE-CHAT, the decentralized peer-to-peer data exchange application built on Tim Berners-Lee's Solid data interchange system.
  </h3>

  <!-- LOGIN TITLE -->
  <h2 i18n="Login title@@LoginTitle">
    Login with Solid Identity
  </h2>

  <!-- PROVIDER SELECTION -->
  <div style="margin-top: 10px;">
    <ng-select class="login-select"
               bindLabel="name"
               bindValue="loginUrl"
               placeholder="Select ID Provider"
               dropdownPosition="bottom"
               [items]="identityProviders"
               [(ngModel)]="selectedProviderUrl"
               style="width: 360px; height: 48px; margin-left: auto; margin-right: auto;">

      <!-- DROPDOWN TEMPLATE -->
      <ng-template ng-option-tmp let-item="item">
        <div style="height:40px; padding-top:10px; position: relative; margin-left: auto; margin-right: auto" class="provider">
          <img [src]="item.image" style="float: left; height: 32px; width: 32px; margin-top:-5px;" />
          <span style="float: left; margin-left: 10px;">{{ item.name }}</span>
          <div style="clear: both;"></div>
          <div class="item-divider"></div>
        </div>
      </ng-template>

    </ng-select>
    <input type="text"
           class="wide-text"
           *ngIf="selectedProviderUrl===null"
           placeholder="Enter WebID"
           style="margin-top:10px; padding: 12px 10px; width: 340px; height: 16px; display: block; margin-left: auto; margin-right: auto;"
           [(ngModel)]="customProviderUrl" />
    <button id="btn-go" class="wide-button" (click)="onLogin()" *ngIf="selectedProviderUrl !== undefined || customProviderUrl !== undefined" [disabled]="selectedProviderUrl===null && !customProviderUrl" style="margin-top:10px;">Go</button>
  </div>

  <!-- REGISTRATION -->
  <div class="registration-link">
    <p style="margin: 12px;">Don't have a Solid Identity?</p>
    <button id="btn-register" class="wide-button" (click)="goToRegistration()">Register</button>
  </div>

  <!-- HELP -->
  <div style="margin-top: 48px;">
    <a href="https://solid.mit.edu" target="_blank" class="small-link">
      <i class="fas fa-info-circle"></i> What is a Solid Identity?
    </a>
  </div>

</div>
  

