<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head"></head>
<body>
<div th:replace="fragments/header :: cabecera"><p>Hello!</p></div>
<div>
    <form action="/search" name="search">
        <label>
            Name: <input type="text" name="name" placeholder="name"/>
        </label>
        <button type="submit">Search</button>
    </form><hr/>
    <form action="/sort">
        <button type="submit">Sort array</button>
    </form>
</div>

</body>
</html>