.profile-container {
  font-family: 'Roboto', sans-serif;
}

.profile-container h1 {
  font-size: 1.500em;
  color: rgb(20, 96, 236);
  font-weight: bold;
  line-height: 2.000em;
  letter-spacing: 0.075em;
  text-align: center;
  margin-top: 5.125em;
  text-transform: uppercase;
}

.profile-fields-container {
  max-width: 46.250em;
  min-height: 33.750em;
  margin: 0 auto;
  border: 0.063em solid #ccc;
  box-shadow: #ccc 0.063em 0.063em 0.250em;
  position: relative;
}

.profile-fields-container .profile-image-container {
  height: 200px;
  width: 100%;
  background-size: cover;
  background: rgb(20, 96, 236);
}

.profile-fields-container .profile-image-container img {
  height: 8.000em;
  border-radius: 50%;
  margin-left: auto;
  margin-right:auto;
  position: relative;
  top: 2.500em;
  display: block;
}

.profile-fields-container i {
  font-size: 0.875em;
  color: #89969F;
  padding-left: 1.625em;
  padding-right: 0.625em;
  margin-top: 1.500em;
}

.profile-fields-container input[type=text].field-text {
  height: 0.750em;
  width: 17.500em;
  border: 0.063em solid #89969F;
  border-radius: 0.250em;
  padding: 0.625em;
}

.profile-fields-container input[type=text].field-text::placeholder {
  color: rgba(102,102,102,0.2);
}

.profile-save-button-container {
  display: flex;
  align-items: center;
  margin-bottom: auto;
  height: 6.250em;
  flex-direction: column;
  justify-content: flex-end;
}

.profile-save-button {
  background-color: rgb(20, 96, 236);
  margin-left: auto;
  margin-right: auto;
  width: 17.500em;
}

.profile-save-button:disabled {
  background-color: #F0EEEB;
  border-color: #F0EEEB;
  cursor: not-allowed;
}

.loading-image {
  text-align: center;
  margin-top: 3.125em;
}

.addfriends {
  margin: 1.250em;
}

.addfriends h2 {
  color: rgb(20, 96, 236);
}

.addfriends input {
  margin-right: 0.625em;
}