/* You can add global styles to this file, and also import other style files */
button.wide-button {
  width: 10em;
  height: 2em;
  border-radius: 0.25em;
  background-color: #3D6DEB;
  font-size: 1em;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  line-height: 0.5em;
  cursor: pointer;
}

button.wide-button:disabled {
  background-color: #F0EEEB;
  border-color: #F0EEEB;
  cursor: not-allowed;
}

input[type=text].wide-text {
  width: 25em;
  height: 2em;
  border-radius: 1em;
  border: 0.5em solid rgb(80, 89, 95);
  font-size: 2em;
  color: rgb(48, 47, 47);
}


/* Styling custom dropdown */

/* This selector is for the whole control, not the dropdown itself */
.ng-select.login-select {

}

/* This selector is for the actual dropdown container (aka border, arrow, etc) */
.ng-select.login-select .ng-select-container {
  border: 0.25em solid #3D6DEB;
}
.ng-select.login-select.ng-select-opened>.ng-select-container {
  border: 0.25em solid #3D6DEB;
  border-radius: 1em;
}


.ng-select.login-select.ng-select-single .ng-select-container {
  height: 2.5em;
}

/* This selector is for the dropdown selection items container */
.ng-select.login-select .ng-dropdown-panel {
  margin-left: 0em;
  margin-top: 0em;
  border: 0.25em solid rgb(57, 107, 235);
  border-radius: 1em;
}

.ng-select.login-select .ng-input input {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  color: rgb(48, 47, 47);;
  margin-top: 0.25em;
  border-radius: 1em;
}

/* This selector is for the dropdown arrow */
.ng-select.login-select .ng-arrow:after {

}

