
body {
  margin : 0.000em;
}

/* You can add global styles to this file, and also import other style files */
button.wide-button {
  width: 22.500em;
  height: 2.500em;
  border-radius: 0.250em;
  background-color: #3D6DEB;
  font-size: 0.875em;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.078em;
  line-height: 1.000em;
  cursor: pointer;
}

button.wide-button:disabled {
  background-color: #F0EEEB;
  border-color: #F0EEEB;
  cursor: not-allowed;
}

input[type=text].wide-text {
  width: 22.500em;
  height: 2.500em;
  border-radius: 0.250em;
  border: 0.063em solid #89969F;
  font-size: 0.875em;
  color: #666;
}


/* Styling custom dropdown */

/* This selector is for the whole control, not the dropdown itself */
.ng-select.login-select {

}

/* This selector is for the actual dropdown container (aka border, arrow, etc) */
.ng-select.login-select .ng-select-container {
  border: 0.125em solid #3D6DEB;
}
.ng-select.login-select.ng-select-opened>.ng-select-container {
  border: 0.125em solid #3D6DEB;
  border-radius: 0.250em;
}


.ng-select.login-select.ng-select-single .ng-select-container {
  height: 3.000em;
}

/* This selector is for the dropdown selection items container */
.ng-select.login-select .ng-dropdown-panel {
  margin-left: -11.250em;
  margin-top: -0.125em;
  border: 0.125em solid #3D6DEB;
}

.ng-select.login-select .ng-input input {
  font-family: 'Roboto', sans-serif;
  font-size: 1.000em;
  color: #666;
  margin-top: 0.375em;
}

/* This selector is for the dropdown arrow */
.ng-select.login-select .ng-arrow:after {

}